body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300; /* This ensures we're using the light version */
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

#progress-container {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background-color: #E0E0E0;
    border-radius: 7px;
    overflow: hidden;
    margin-top: 50px;
}

#progress-fill {
    height: 100%;
    background-color: #000;
    width: 0%; /* This will be updated by JavaScript */
    transition: width 0.5s ease-in-out;
}

#year-completed {
    margin-top: 10px;
    font-size: 16px;
}

.info-section {
    margin-top: 50px;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 5px; /* Adjust the spacing between icons as needed */
    margin-top: 20px; /* Adds space above the icon container */
}

.x-icon, .github-icon {
    display: inline-block;
    color: black;
    font-size: 24px;
    text-decoration: none;
    margin-top: 100px;
    padding: 5px; /* Adds padding around the icons */
}

/* Year Calendar Styles */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: white;
    color: black;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 100px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px dashed lightgray;
}

th {
    background-color: black;
    color: white;
    font-weight: bold;
}

td {
    background-color: white;
}

.past-date {
    color: lightgray;
}

/* Style for week number and headers */
th:first-child, td:first-child {
    background-color: black;
    color: white;
}
